<template>
  <v-text-field
      label="Delay (in sec)"
      :value="value"
      :rules="rules"
      @input="$emit('input', $event)"/>
</template>

<script>
  export default {
    name: "DelaySelect",
    props: {
      value: Number
    },
    data() {
      return {
        rules: [
          v => !!v || 'Required',
          v => v >= 1 || 'Delay should be at least 1 second',
          v => v <= 179 || 'Delay must not be more than 179 seconds',
        ]
      }
    },
  }
</script>

<style scoped>

</style>
