<template>
  <div>
    <v-select
        :value="value"
        :items="devices"
        label="Input device"
        item-text="label"
        item-value="deviceId"
        @input="$emit('input', $event)">
    </v-select>
  </div>
</template>

<script>
  import * as _ from 'lodash';

  export default {
    name: "DeviceSelect",
    props: {
      value: String
    },
    data() {
      return {
        devices: []
      }
    },
    async mounted() {
      const stream = await navigator.mediaDevices.getUserMedia({audio: true});
      stream.getTracks().forEach(t => t.stop());

      this.devices = _.filter(await navigator.mediaDevices.enumerateDevices({audio: true}), {kind: 'audioinput'});
    }
  }
</script>

<style scoped>

</style>
