<template>
  <v-app>
    <v-content>
      <v-app-bar>
        Audio Filter
      </v-app-bar>
      <v-container>
        <device-select v-model="selectedInputDevice" />
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <delay-select v-model="selectedDelay" class="mt-6" />
          <v-input :error-messages="error">
            <v-btn @click="updateAudio" :disabled="!valid" :color="error ? 'error' : 'primary'">Start Delaying</v-btn>
          </v-input>
        </v-form>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

  import DeviceSelect from "./components/DeviceSelect";
  import DelaySelect from "./components/DelaySelect";

  export default {
    name: 'App',
    components: {DelaySelect, DeviceSelect},
    data: () => ({
      selectedInputDevice: 'default',
      selectedDelay: 5,
      delayNode: null,
      error: null,
      valid: true
    }),
    methods: {
      async updateAudio() {
        if (!this.$audioContext) {
          this.$audioContext = new AudioContext();
        }
        if (this.delayNode) {
          this.delayNode.disconnect();
        }

        let stream;
        try {
          stream = await navigator.mediaDevices.getUserMedia(
            this.selectedInputDevice ? {audio: {deviceId: this.selectedInputDevice}} : {audio: true}
          );
          this.error = null;
        } catch (e) {
          this.error = 'Microphone could not be accessed';
        }

        if (stream) {
          const recvAudioSource = this.$audioContext.createMediaStreamSource(stream);

          this.delayNode = this.$audioContext.createDelay(179);
          this.delayNode.delayTime.value = this.selectedDelay;
          recvAudioSource.connect(this.delayNode);
          this.delayNode.connect(this.$audioContext.destination);
        }
      }
    },
  };
</script>
